/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Panel styles */

.panel {
  /* XXX the Social API panel behaves weirdly on inner element size changes,
     adding unwanted scrollbars; quickfix is to hide these for now. */
  overflow: hidden;
}

.spacer {
  margin-bottom: 1em;
}

.share {
  background: #fbfbfb;
}

.share .description {
  padding: 0.4em 1em;
}

.share .description .field {
  padding-bottom: 1em;
  border-bottom: 1px dotted #ddd;
}

.share .description select {
  float: right;
}

.share .description .preview video {
  background: #ccc;
  float: right;
  width: 180px;
}

.description-content {
  margin: .5em 0;
  font-size: 11px;
  font-weight: 700;
  font-family: Open Sans,sans-serif;
  color: #666;
}

.share .action {
  clear: right;
  padding: 0 1em;
  /*border-top: 1px solid #fafafa;*/
}

.share .action input[type="text"],
.share .action input[type="url"] {
  border: 1px solid #ccc; /* Overriding background style for a text input (see
                             below) resets its borders to a weird beveled style;
                             defining a default 1px border solves the issue. */
  font-size: .9em;
  width: 100%;
  padding: .5em;
}

.share .action input.pending {
  background-image: url(../img/loading-icon.gif);
  background-repeat: no-repeat;
  background-position: right;
}

/* For some reason, buttons have a bigger default font size in FF; we're
   reducing a bit for graphical consistency here. */
.share .action button {
  font-size: .9em;
  padding-top: 6px;
}

/* Specific cases */

.panel #messages .alert {
  margin-bottom: 0;
}

/* Call URL input */

.input-controls {
  display: flex;
  align-items: center;
}

.input-call-url {
  flex: 4;
  border: 1px solid #CCC;
  border-radius: 2px;
}

/* DnD menu */

.dnd-status {
  border: 1px solid transparent;
  padding: .1em .2em;
  margin: .3em 0;
}

.dnd-status:hover {
  border: 1px solid #DDD;
  background: #F1F1F1;
  border-radius: 3px;
  cursor: pointer;
}

.do-not-disturb {
  position: relative;
}

.dnd-menu {
  position: absolute;
  top: -32px;
  left: 0;
  background: #fdfdfd;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  list-style: none;
  padding: .1em;
  width: 110px;
}

.dnd-menu-item {
  text-align: left;
  margin: .3em 0;
  padding: .2em .5em;
  cursor: pointer;
}

/* Status badges -- Available/Unavailable */

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 .3em;
}

.status-available {
  background: #6cb23e;
}

.status-unavailable {
  border: 2px solid #ddd;
}

/* Footer */

.footer {
  padding: 0 10px;
  font-size: 12px;
  border-top: 1px solid #D1D1D1;
  background: #EAEAEA;
  color: #7F7F7F;
  display: flex;
  align-items: center;
  margin-top: auto;
  flex-direction: row;
}

